.modal-overlay {
    width:100%;
    height: 100%;

    background-color: rgba(99, 96, 96, 0.7);

    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:center;

    opacity: 0;
    visibility: hidden;
}


.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal{
    background: #f0f2f5;
    padding: 2.4rem;
    width: 100%;
    height: 15%;
    margin-top: 36%;
    max-width: 1190px;

}

#products{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#products img{
    height: 120px;
}

.letter{
    font-family: 'Rubik';
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 35%;
}

.input-group.actions{
    margin-right: 55px;
    margin-top: 20px; 
}

.input-group.actions .button,
.input-group.actions .button {

    display: flex;
    justify-content:space-between;
    align-items:center;
    
}

.btn-close{
    background: black;
    color:white;
    border: 2px black solid;
    border-radius:0.25rem;
    width: 80px;
    height: 40px;
    
    cursor: pointer;
    opacity: 0.9;
}

.btn-close:hover {
    opacity: 1;
}

.btn-buy{
    background: black;
    color:white;
    border: 2px black solid;
    border-radius:0.25rem;
    width: 80px;
    height: 40px;
    
    cursor: pointer;
    opacity: 0.9;
}

.btn-buy:hover {
    opacity: 1;
}


